<%= form_for :user, html:{:class=>"uk-form uk-form-stacked"} do |f|%>

  <%= link_to "LOGIN WITH FACEBOOK", "/auth/facebook", :id=>"login-with-fb" %>


  <div class="uk-form-row">
    <div id="email-input-div" class="uk-form-controls">
    <%= f.text_field :email, :placeholder => "Enter your email.", :class=>"email-input" %>
    </div>
  </div>
  <div class="uk-form-row">
    <div id="password-input-div" class="uk-form-controls">
    <%= f.password_field :password, :placeholder => "Enter your password." %>
    </div>
  </div>

  <div class="uk-form-row">
    <div id="login-btn-div" class="uk-form-controls">
    <%= f.submit "LOGIN", :class=>"login-btn uk-button" %>
    </div>
  </div>



<% end %>