<div class="friends uk-width-5-10 uk-container">
 <div class="my-friends-header uk-container uk-text-center" data-uk-grid>FRIENDS</div>
    <% @current_user.friends.each do |friend| %>
        <div class="each-friend uk-text-center">
            <div><%= cl_image_tag friend.image, :class=>"friend-image", :width => 80, :height => 80, :crop => :thumb, :radius => :max %></div>

            <%= link_to "", friend_remove_path(friend), :class => "remove-friend-btn uk-icon-close" %>
            <a href="#message-modal" data-uk-modal class="uk-icon-envelope send-message-btn" data-id="<%=friend.id%>"></a>

            <div class="friend-name"><%=friend.name%></div>
            <div class="friend-location"><%=friend.location%></div>
        </div>
    <% end %>
</div>

<hr>

