<div class="friends">
    <% @current_user.friends.each do |friend| %>
        <div class="each-friend">
            <div><%= cl_image_tag friend.image, :class=>"friend-image" %></div>
            <div class="friend-name"><%= friend.name %></div>
            <%= link_to "", friend_remove_path(friend), :class => "remove-friend-btn uk-icon-close" %>
            <%= link_to "View Profile", user_path(friend), :class => "uk-button uk-button-primary" %>
            <div class="friend-name"><%= link_to friend.name, user_path(friend) %></div>
        </div>
    <% end %>
</div>

<hr>

<div id="pending-and-sent" class="uk-container uk-container-center">

        <div class="pending-invites">MY PENDING INVITATIONS
            <% @current_user.pending_invited_by.each do |invited| %>
                <div class="each-invited">
                    <div class="name"><%=invited.name%></div>
                    <%= link_to "Accept", friend_invite_path(invited), :class => "uk-button uk-button-success accept-friend-btn" %>
                    <%= link_to "Decline", friend_invite_path(invited), :class => "uk-button uk-button-danger decline-friend-btn" %>
                </div>
            <% end %>
        </div>

        <hr>

        <div class="sent-invites">MY SENT INVITITAIONS
            <% @current_user.pending_invited.each do |sent| %>
                <div class="each-sent">
                    <div class="name"><%=sent.name%></div>
                </div>
            <% end %>
        </div>

</div>