
        <div class="friends-list">
        <%= render partial: 'friends_dashboard' %>
        </div>

    <!-- INVITE FORM -->

    <div class="send-invite">
      <div id="friend-invite-header">SEND A FRIEND REQUEST</div>
        <div class="uk-form">
        <%= form_tag friends_invite_path, id: 'invite-form' do %>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <%= text_field_tag :name %>
                </div>
            </div>
            <div class="uk-form-row">
                <div class="uk-form-controls">
                    <%= button_tag "SUBMIT", :class => "uk-button send-invite-btn", type: 'submit' %>
                </div>
            </div>
        <% end %>
        <div class="request-container">
        <%= render partial: 'friend_request' %>
        </div>
        </div>

    </div>