<div class= "uk-grid">
  <div class=".uk-container .uk-container-center uk-width-1-1">
    <div id="prof-name" class="uk-text-center">
      <%= @user.name || "N/A" %>

      <div id="edit-prof-btn" class= "uk-button uk-button-primary"><%= link_to "", edit_user_path(@user), :class => "uk-icon-pencil"%></div>

    </div>

    <div class="uk-text-center">Location: <%= @user.location || "N/A" %></div>
      <div class="uk-container uk-container-center"><%= cl_image_tag @user.image, width: "280", height: "280", crop: :fill, :class=>"prof-img" %></div>

    <% if @user.user_type == 'host' %>
      <div><%=@user.about %></div>
      <%= link_to "view #{@user.name}'s events", festival_path(@user), :class => "uk-button uk-button-success" %>
    <% end %>


    <% if @user.user_type == 'consumer' %>
      <%# render partial: 'layouts/message_form', locals: {user:@user,message:@message,message_ref:false} %>
      <a href="#message-modal" data-uk-modal id="send-message-btn" data-id="<%=@user.id%>">SEND <%=@user.name%> A MESSAGE</a>
    <% end %>
  </div>
</div>