

<div class="uk-grid uk-container uk-container-center">

    <div class="each-host-event-show uk-container uk-width-1-1 uk-container-center">
      <!-- <div class="event-headings"> -->
          <div class="each-event-name"><%= @event.name %></div>
          <%= cl_image_tag @event.image, :class => "event-image" %>
          <% if @current_user.id == @event.host_id %>
          <%= link_to "", edit_event_path, :class=>"event-edit-btn uk-icon-pencil" %>
          <% end %>
      <!-- </div> -->
      <div class="event-details">
          <div class="event-dates">
              <div id="dates-header">DATES</div>
            <ul>
            <% @event.event_occurrences.each do |occur| %>
                <li class="each-date"><%=occur.date.strftime("%B %d, %Y %I:%M %p")%> | <%=occur.location%></li>
            <% end %>
            </ul>
          </div>
          <a class="event-link uk-button" href="<%= @event.link %>">VISIT THE OFFICIAL EVENT PAGE</a>
          <a class="event-purchase uk-button" href="<%= @event.purchase %>">BUY TICKETS &nbsp($<%= @event.price == 0 ? 'Free' : sprintf('%.2f', @event.price) %>)</a>
          <!-- <div class="event-price"></div> -->
          <div class="event-desc"><%= @event.description %></div>
          <div class="uk-container uk-container-center event-video"><iframe width="400" height="218" src="https://www.youtube.com/embed/<%= @event.video %>" frameborder="0" allowfullscreen class="video-frame"></iframe></div>
      </div>


        <div class="comment-field">
          <div class="form-container uk-container uk-container-center">
            <div id="event-comment-header">COMMENTS</div>
            <%= render partial: 'layouts/comment_form', :locals => {event:@event,comment_ref:@comment_ref, comment:@comment} %>
          </div>
          <div class="display-container">
            <ul class="comment-meta-list">
            <%= render partial: 'layouts/comment_display', :collection=> @event.comments %>
            </ul>
          </div>

        </div>
    </div>


<!-- COMMENT REPLY MODAL -->

<div id="comment-reply-modal" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div class="reply-modal-body">

        </div>
    </div>
</div>

</div>