THIS IS MY FESTIVALS LIST PAGE

<form class="uk-search filter-form" data-uk-search>
    <input id="festival_filter" class="uk-search-field" type="search" placeholder="">
</form>

  <% @festival_details.each do |detail| %>
   <div class="each-festival" data-tags="<%= detail[:tags] %>">
    <div class="name"><a href="/festivals/<%=detail[:id]%>"><%= detail[:name] %></a></div>
    <div class="location"><%= detail[:location] %></div>
    <div class="image"><img src=<%= detail[:image] %>></div>
    <div class="about"><%= detail[:about] %></div>
   </div>

  <% end %>