<div class="uk-grid">

<div id="event-filter-header">SEARCH  <%=@festival.name%> EVENTS</div>

<form class="uk-search filter-form" data-uk-search id="event_filter">
    <input class="uk-search-field" type="search" placeholder="">
</form>

<% @event_dates.keys.sort.each do |date| %>
    <% @event_dates[date].each do |event| %>
    <div class="each-event" data-tags="<%=event[:tags]%>" id="<%=event[:id]%>">
        <a href="/events/<%=event[:id]%>"><div class="name"><%=event[:name]%></div></a>
        <div class="date"><%=date.strftime("%B %d, %Y")%></div>
        <div class="duration"><%=event[:duration]%></div>
        <%= cl_image_tag event[:image], width: "280", height: "280", crop: :fill%>
        <% event[:occurrences].each do |occurrence| %>
            <div class="location"><%=occurrence[:location]%></div>
            <div class="time"><%=occurrence[:time]%></div>

             <% if occurrence[:added] %>
                <%= link_to "x", deleteevent_path(occurrence[:id]), :class => "del-btn uk-button" %>
            <% else %>
                <%= link_to "+", addevent_path(occurrence[:id]), :class => "add-btn uk-button" %>
            <% end %>
        <% end %>
    </div>
    <% end %>
<% end %>

</div>