
<% if comment_ref %>

    <%= form_for [event, comment_ref, comment], html:{:class=>"uk-form uk-form-stacked"} do |f|%>
      <div class="uk-form-row">
        <div class="uk-form-controls">
        <%= f.text_area :body, size: "50x10", :placeholder => "Enter your comment.", :class=> "comment-input" %>
        </div>
      </div>
      <div class="uk-form-row">
        <div class="uk-form-controls">
        <%= f.button "Submit", :class=>"uk-button comment-submit-btn", :type=>'submit' %>
        </div>
      </div>
      <input type="hidden" value="" id="default-action">


    <% end %>

<% else %>


    <%= form_for [event, comment], html:{:class=>"uk-form uk-form-stacked comment-form"} do |f|%>
      <div class="uk-form-row">
        <div class="uk-form-controls">
        <%= f.text_area :body, size: "50x10", :placeholder => "Enter your comment." %>
        </div>
      </div>
      <div class="uk-form-row">
        <div class="uk-form-controls">
        <%= f.button "Submit", :class=>"uk-button comment-submit-btn", :type => "submit" %>
        </div>
      </div>


    <% end %>

<% end %>