
  <div class="uk-container-center">

      <li>
        <%= comment_display.user.name %>
        <%= comment_display.body %>
        Created: <%= format_created_time comment_display %>
        <%= link_to "REPLY", '#comment-reply-modal', :class=>"uk-button uk-button-mini reply-btn", 'data-uk-modal'=>'', :data_event => @event.id, :data_comment => comment_display.id %>

        <% unless comment_display.comments.empty? %>
          <ul>
          <%= render :partial => 'layouts/comment_display', :collection => comment_display.comments %>
          </ul>
        <% end %>
      </li>


  </div>
