<% if message_ref %>
    <% arr = [user, message_ref, message] %>
<% else %>
  <% arr = [user,message] %>
<% end %>

<div id="message-modal-header" class="uk-text-center">To: <%=user.name %></div>
<div class="uk-form">
      <%= form_for arr do |f| %>
        <div class="uk-form-row">
          <div class="form-controls">
            <%= f.text_field :subject, :placeholder => "Enter a subject", size: "50", :class=>"uk-container uk-container-center", :class=>"message-fields" %>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <%= f.text_area :body, :placeholder => "Type your message here", size: "50x10", :class=>"message-fields" %>
          </div>
        </div>
        <label for="comment[festival_id]" id="share-cal-label">SHARE A CALENDAR</label>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <div class="uk-form-select" data-uk-form-select>
               <span></span>
                  <%= f.select :festival_id, options_for_select(festivals, 0) %>
            </div>
          </div>
        </div>
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <%= f.button "Send", :class => "uk-button comment-submit-btn", type: 'submit' %>
          </div>
        </div>
        <input type="hidden" name="comment[original]" value=<%=params[:id]%>>

        <input type="hidden" value="" id="default-action">
      <% end %>
</div>