<!DOCTYPE html>
<html>
<head>
  <title>FestivalEventCalendar</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/uikit.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/uikit.almost-flat.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/placeholder.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/dotnav.almost-flat.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/search.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/search.almost-flat.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/search.gradient.min.css">
  <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/uikit.gradient.min.css"> -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/datepicker.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/autocomplete.almost-flat.min.css">
  <link rel ="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/components/form-file.almost-flat.css">


  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" type="text/css" media="only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="small-device.css"> -->


  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/uikit.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/core.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/grid.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/utility.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/datepicker.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/autocomplete.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/components/timepicker.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/button.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/dropdown.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/core/modal.min.js"></script>


  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>



  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

</head>
<body>

<!-- DESKTOP NAV -->
  <button id="hamburger-menu" type="hidden" class="uk-button" data-uk-offcanvas="{target:'#mobile-nav'}"><a class="uk-icon-bars"></a></button>

  <nav id="desktop-nav" class = "uk-navbar">

    <a class="uk-navbar-brand" href="/">FSTVL</a>


   <ul class="uk-navbar-nav">

   <% if @current_user %>
    <li class="uk-parent" data-uk-dropdown>
        <a href="#">MY ACCOUNT</a>

        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-navbar">
            <li>
                <a class="sub-nav" href="/users/">PROFILE</a>
            </li>
            <% if @current_user.user_type == 'consumer' %>
            <li>
                <a class="sub-nav" href="/calendars">MY CALENDAR</a>
            </li>
            <% end %>
            <li>
                <a class="sub-nav" id="logout-btn" href = "/logout">LOGOUT</a>
            </li>
          </ul>
        </div>

    <% if @current_user.user_type == 'host' %>
    </li>
        <li class="uk-parent" data-uk-dropdown>
          <a href="/events">MY EVENTS</a>

          <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              <li>
                  <a class="sub-nav" href="/events/new">ADD A NEW EVENT</a>
              </li>
            </ul>
          </div>

        </li>
    <% else %>
        <!-- FOR CONSUMER  -->

         <li class="uk-parent" data-uk-dropdown>
          <a href="#">FESTIVALS</a>

          <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              <li>
                  <a class="sub-nav" href="/festivals/myfestivals">MY FESTIVALS</a>
              </li>
            </ul>
            <ul class="uk-nav uk-nav-navbar">
              <li>
                  <a class="sub-nav" href="/festivals">SEARCH FESTIVALS</a>
              </li>
            </ul>
          </div>

        </li>


         <li class="uk-parent" data-uk-dropdown>
          <a href="#">SOCIAL</a>

          <div class="uk-dropdown uk-dropdown-navbar">
            <ul class="uk-nav uk-nav-navbar">
              <li>
                  <a class="sub-nav" href="/friends">MY FRIENDS</a>
              </li>
            </ul>
             <ul class="uk-nav uk-nav-navbar">
              <li>
                  <a class="sub-nav" href="/inbox">MY INBOX</a>
              </li>
            </ul>
             <ul class="uk-nav uk-nav-navbar">
              <li>
                  <a class="sub-nav" href="#message-modal" data-uk-modal>NEW MESSAGE</a>
              </li>
            </ul>
          </div>

        </li>



    <% end %>


          <li class="uk-parent"></li>
   <% else %>
    <li class="uk-parent"><a href="/users/new">SIGN UP</a></li>
    <li class="uk-parent"><a data-uk-modal="{target:'#my-id'}">LOGIN</a></li>
    <% end %>

   </ul>
  </nav>


  <!-- LOGIN MODAL -->


<!-- This is the modal -->
<div id="my-id" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <div class="uk-container uk-container-center">
          <%= form_for :user, html:{:class=>"uk-form uk-form-stacked"}, :url => login_path do |f|%>
            <div class="uk-text-center" id="login-with-fb-div">
              <!-- <i class="uk-icon-facebook"></i> -->
              <%= link_to "LOGIN WITH FACEBOOK", "/auth/facebook", :class=>"uk-button login-with-fb", :type=>"button" %>
            </div>

            <div class="uk-text-center" id="or">
              OR <br><br>
            </div>

            <div class="uk-form-row">
              <div class="uk-text-center email-input-div uk-form-controls">
                <label id="email-label">EMAIL</label>
                <%= f.text_field :email, :placeholder => "Enter your email.", :class=>"email-input" %>
              </div>
            </div>
            <div class="uk-form-row">
              <div class="uk-text-center password-input-div uk-form-controls">
                <label id="password-label">PASSWORD</label>
                <%= f.password_field :password, :placeholder => "Enter your password.", :class=>"password-input" %>
              </div>
            </div>

            <div class="uk-form-row">
              <div class="uk-text-center login-btn-div uk-form-controls">
                <%= f.button "LOGIN", :class=>"uk-button login-btn", :type=>"submit" %>
              </div>
            </div>



            <% end %>


        </div>






    </div>
</div>















<!-- MOBILE NAV -->

<div id="mobile-nav" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>

          <% if @current_user %>
            <li class="uk-parent">
              <a href="#">MY ACCOUNT</a>
            <!-- <div class="data-uk-dropdown"> -->
              <!-- <div class="uk-dropdown uk-dropdown-navbar"> -->
                <ul class="uk-nav-sub">
                  <li>
                      <a href="/users/:id">PROFILE</a>
                  </li>
                  <li>
                      <a href="/calendars">MY CALENDAR</a>
                  </li>
                  <li>
                      <a id="logout-btn" href = "/logout">LOGOUT</a>
                  </li>
                </ul>

            <!-- </div> -->
            </li>
             <!-- TO DO - MAKE ADD EVENTS FOR HOSTS ONLY -->
            <li class="uk-parent">
                <a href="#">MY EVENTS</a>
              <!-- <div class="data-uk-dropdown"> -->
                <!-- <div class="uk-dropdown uk-dropdown-navbar"> -->
                  <ul class="uk-nav-sub">
                    <li>
                        <a href="/events">MY EVENT</a>
                    </li>
                    <li>
                        <a href="/events/new">ADD A NEW EVENT</a>
                    </li>
                  </ul>
                <!-- </div> -->
              <!-- </div> -->
            </li>

        <!-- FOR CONSUMER  -->
            <li class="uk-parent">
              <a href = "#">FESTIVALS</a>

              <ul class="uk-nav-sub">
                    <li>
                        <a href="/festivals/myfestivals">MY FESTIVALS</a>
                    </li>
                     <li>
                        <a href="/festivals">SEARCH FESTIVALS</a>
                    </li>
              </ul>
            </li>

            <li class="uk-parent">
                <a href="#">SOCIAL</a>


                  <ul class="uk-nav-sub">
                    <li>
                        <a href="/friends">MY FRIENDS</a>
                    </li>
                    <li>
                        <a href="/inbox">MY INBOX</a>
                    </li>
                  </ul>



        </li>



    <li class="uk-parent"></li>
   <% else %>
    <li class="uk-parent"><a href="/users/new">SIGN UP</a></li>
    <li class="uk-parent"><a href = "/login">LOGIN</a></li>
    <% end %>


            </div>
        </ul>
    </div>
</div>



  <%= render "/layouts/alerts" %>
  <%= render "/layouts/new_message_modal" %>




<%= yield %>


</body>
</html>
