<!DOCTYPE html>
<html>
<head>
  <title>FestivalEventCalendar</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/js/uikit.min.js"></script>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/uikit/2.20.3/css/uikit.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <a href="/">HOME</a>

   <% if @current_user %>
    <a href = "/logout">LOGOUT</a>
   <% else %>
    <a href="/users/new">SIGN UP</a>
    <a href = "/login">LOGIN</a>
    <% end %>
  </nav>

  <%= render "/layouts/alerts" %>




<%= yield %>

</body>
</html>
